/*Selection Train*/
.main-content__wrap{
  margin-top: 434px;
  background-color: #e5e5e5;
  position: relative;
}

.selection-train-content {
  margin-left: 0px;
}

.progress {
  position: absolute;
  min-width: 1919px;
  height: 98px;
  top: 434px;
  background: #3e3c41;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  z-index: 10;
  color: #ffffff;
}
.progress-bar {
  position: relative;
  border-radius: 0px;
  height: 100%;
  background-color: #3e3c41;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  clip-path: polygon(
    0% 0px,
    /* верхняя левая */ 0px 0%,
    /* верхняя левая */ calc(100% - 47px) 0%,
    /* верхняя правая */ 100% 47px,
    /* верхняя правая */ 100% calc(100% - 47px),
    /* нижняя правая */ calc(100% - 47px) 100%,
    /* нижняя правая */ 0px 100%,
    /* нижняя левая */ 0 calc(100% - 47px) /* нижняя левая */
  );
}
.progress-bar.step-tickets {
  width: 621px;
  background-color: #ffa800;
}
.progress-bar.step-pay,
.step-passenger {
  width: 398px;
  justify-content: flex-start;
}
.progress-bar.step-validate {
  width: 619px;
  justify-content: flex-start;
}

.border-top-step {
  height: 148px;
  border: 1px solid #fff;
  transform: rotate(-45deg);
  position: absolute;
  right: -2px;
}

.border-bottom-step {
  height: 148px;
  border: 1px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  right: -2px;
}

span.numbering {
  width: 53px;
  height: 53px;
  border-radius: 53px;
  border: 3px solid #ffffff;
  line-height: 46px;
}

.margin-numbering {
  margin-left: 35px;
}
.progress-bar-name {
  margin-left: 28px;
}

/*SearchControls*/
.search-controls__wrap {
  margin-top: 193px;
  height: 43px;
}
.dropend .dropdown-toggle::after {
  border: none;
}
.amount-text,
.button-sorted-trains,
.sorted-text,
.puncts-list-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #928f94;
}

span.amount-text {
  width: 105px;
  height: 22px;
  margin-right: 363px;
}
span.sorted-text {
  color: #292929;
}
.dropdown-sorted-trains {
  color: #928f94;
  transform: translate(145px, -2px);
}
.dropdown-sorted-trains:focus,
.dropdown-sorted-trains:active {
  border: none;
  outline: none;
}

.button-sorted-trains {
  margin-top: -8px;
  height: 22px;
}
.dropdown-sorted-trains.show {
  width: 137px;
  height: 117px;

  border-radius: 0px;
  padding: 0;
  background: #f7f5f9;
  border: none;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(145px, -8px) !important;
}
.sorted-trains-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #3e3c41;
}

button.dropdown-item.sorted-trains-item {
  padding: 0;
  padding-left: 7px;
  height: 38px;
}
button.dropdown-item.sorted-trains-item:hover {
  background: #ffca62;
}
.search-controls-puncts__wrap {
  display: flex;
  margin-left: 48px;
  height: 22px;
  width: 210px;
}

.search-controls-puncts-list {
  justify-content: space-evenly;
  padding: 0;
  list-style-type: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 78px;
}
button.btn.puncts-list__btn {
  padding: 0;
  height: 22px;
  width: 22px;
  line-height: 20px;
  color: #928f94;
}
button.btn.puncts-list__btn:focus {
  color: #292929;
}
/*Trains-cards*/
.trains-menu-wrap.d-flex {
  margin-top: 26px;
  margin-right: 256px;
  flex-direction: column;
}

.card-deck.trains-menu-group {
  display: flex;
  flex-direction: column;
  max-width: 959px;
}
.card.card-trains-menu-item {
  display: flex;
  flex-direction: row;

  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  margin: 0;
  margin-bottom: 49px;
}
.card-top.card-trains-menu-item-top {
  display: flex;
  flex-direction: column;
  width: 197px;
  background-color: #e4e0e9;
}

.card-body.p-0.card-trains-menu-item-body {
  width: 479px;
  border-right: 1px dashed #e5e5e5;
}

h6.train-departure.trains-number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  width: 93px;
  margin-left: 39px;
  color: #3e3c41;
}

.icon-train {
  width: 86px;
  height: 86px;
  margin-left: 43px;
  margin-top: 58px;
  margin-bottom: 17px;
  border: 2px solid #ffffff;
  border-radius: 83px;
}

i.fa.fa-subway.subway-icon {
  color: #ffffff;
  margin-top: 17px;
}

.trail {
  margin-left: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #292929;
}
i.fa.fa-long-arrow-right {
  margin-left: 5px;
  color: #292929;
}
.card-bottom.p-0.card-trains-menu-item-bottom {
  width: 283px;
  display: flex;
  flex-direction: column;
}

.data-trains-group {
  margin-top: 54px;
  margin-left: 39px;
}

.train-departure-from {
  width: 155px;
}
.train-departure.data-trains-datetime {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}

.train-departure.data-trains-city-name.train-departure.data-trains-railway_station_name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;

  color: #000000;
}

.train-departure.data-trains-railway_station_name {
  font-family: "Roboto";
  line-height: 1;
  color: #928f94;
}

.d-flex.flex-direction-column-group.d-flex.flex-row {
  margin-left: 39px;
}

span.trails-duration {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #c4c4c4;
}

i.fa.fa-2x.fa-long-arrow-right.trais-arrow {
  color: #ffa800;
}
.trails-duration-block {
  margin-left: 4px;
  margin-right: 39px;
}

.available-wagons-block {
  margin-left: 27px;
  margin-right: 24px;
  margin-top: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.available-wagons_block-item {
  margin-bottom: 33px;
  position: relative;
}
.available-seats_group-text {
  width: 48%;
  display: flex;
  justify-content: space-between;
}
span.available-seats_name {
  margin-left: 5px;
}
.wagons_type,
span.available-seats_name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  width: 85px;
  color: #3e3c41;
}

.amount-seats,
.available-seats {
  margin-left: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: block;
  color: #ffa800;
}
.available-seats {
  margin-left: 10px;
}
.amount-seats:hover {
  cursor: pointer;
}
.available-seats_block {
  position: absolute;
  top: 28px;
  left: -23px;
  width: 276px;
  height: 93px;
  background: #e5e5e5;
  z-index: 10;
  border-radius: 5px;
  padding: 12px 23px 16px 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.available-seats_block::before {
  content: "";
  border: 20px solid transparent;
  border-bottom-color: #e5e5e5;
  position: absolute;
  margin: -43px 0px 0 72px;
}
.available-seats-item {
  display: flex;
  justify-content: space-between;
}

span.text-min-price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #928f94;

  margin-right: 5px;
}

span.wagons-type_min-price,
.available-seats_min-price {
  margin-top: -7px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2d2b2f;
}

.currency-icon {
  margin-left: 5px;
  color: #928f94;
  font-size: 24px;
  font-weight: 300;
}

.wagons-type_price {
  margin-left: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

img.icon_rocket {
  width: 20px;
  height: 20px;
  filter: grayscale(2%);
  opacity: 0.2;
}

.card-trains-menu-item__icons-block {
  font-size: 20px;
  color: #c4c4c4;
}

button.btn.selection-seats {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;
  width: 228px;
  height: 39px;

  margin: 0 auto;
  margin-top: 18px;

  margin-bottom: 24px;
  background: #ffa800;
  border-radius: 5px;
}
button.btn.selection-seats:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
button.btn.selection-seats:active {
  box-shadow: none;
  background: #e5e5e5;
  color: #ffa800;
  border: 1px solid #ffa800;
}

/*Пагинация на странице выбор поезда*/
.selection-trains-pagination {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 193px;
}

.trains-menu-pagination__item-link {
  width: 83px;
  height: 75px;
  margin-left: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;

  color: #928f94;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
}

a.page-link.trains-menu-pagination__item-link.trains-menu-pagination_active-link {
  color: #ffffff;
  background: #ffa800;
  border-color: #ffa800;
}

.trains-menu-pagination__item-link:focus {
  background: inherit;
  outline: none;
  box-shadow: none;
  border: 2px solid #ffa800;
}
.trains-menu-pagination__item-link:hover {
  background: inherit;
  color: #ffa800;
  border: 2px solid #ffa800;
}
